@import './variables.import'

body, button
  font-family: $fontStack

html, body
  background: $bgColor
  color: $primaryColor

h1, h2, h3, h4, h5, h6, a, a:visited
  color: $secondaryColor

button
  background: $primaryColor
  border: 1px solid $secondaryColor
  border-radius: .5em
  color: $bgColor
  font-weight: bold
  font-size: 1em
