{
  "presets": ["env", "meteor"],
  "plugins": [
    "transform-class-properties",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    "transform-react-remove-prop-types",
    ["module-resolver", {
      "alias": {
        "meteor": "./jest"
      }
    }]
  ]
}
